.flag-icon-background {
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
}
.flag-icon {
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
  position: relative;
  display: inline-block;
  width: 1.15em;
  height: 1.00em;
  line-height: 1em;
  margin-right: 0.5em;
}
.flag-icon:before {
  content: "\00a0";
}
.flag-icon.flag-icon-squared {
  width: 1em;
}
.flag-icon-br.flag-icon {
  background-image: url(../Images/flags/br.svg);
}
.flag-icon-de.flag-icon {
  background-image: url(../Images/flags/de.svg);
}
.flag-icon-us.flag-icon {
  background-image: url(../Images/flags/us.svg);
}
