.content {
	display:none;
}

.preload { 
	width:100px;
    height: 100px;
    position: fixed;
    top: 50%;
    left: 50%;
}

/* Download BTN area css
============================================================================================ */
.download_btn {
  display: block;
  text-align: center;
  line-height: 40px;
  border-radius: 20px;
  font-size: 18px;
  position: relative;
}

.download_btn:before {
  content: "\f019";
  position: absolute;
  height: 100%;
  width: 100%;
  text-align: center;
  line-height: 40px;
  font-size: 18px;
}

/* End Download BTN area css
============================================================================================ */

.own-footer {
  text-align: center; 
  color: #FFFF;
  padding-top: 20px;
  padding-bottom: 20px;
}

.justified-Text {
  text-align: justify;
}